.backgroundColor {
    color : #725844;
     background-color: white;
    margin-top: 5%;
}

.imageBackGround {
    width: 400px;
    height: 300px;
}

.textAlign {
    text-align: center;
}

.textSpace {
    margin-bottom: 40px;
    margin-top: 100px;
}

.alignItems {
    align-items: center;
}